<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wei.eduyang.mapper.PlanMapper">

    <resultMap id="Plan" type="com.wei.eduyang.domain.Plan">
        <result property="id" column="id"/>
        <result property="planName" column="plan_name"/>
        <result property="planPath" column="plan_path"/>
        <result property="planShowPath" column="plan_show_path"/>
        <result property="planDesc" column="plan_desc"/>
        <result property="planCreateTime" column="plan_create_time"/>
        <result property="planUpdateTime" column="plan_update_time"/>

        <result property="tagCourse" column="tag_course"/>
        <result property="tagScene" column="tag_scene"/>
        <result property="tagTheme" column="tag_theme"/>
        <result property="tagAge" column="tag_age"/>
        <result property="tagSubject" column="tag_subject"/>


    </resultMap>

    <select id="getPlanById" parameterType="int" resultMap="Plan">
		select * from t_plan where id=#{id}
	</select>

    <select id="getPlanByName" parameterType="String" resultMap="Plan">
		select * from t_plan where plan_name=#{planName}
	</select>

    <select id="searchQuery" parameterType="map" resultMap="Plan">
        select * from t_plan where 1=1

        <if test="courseValue != null and courseValue != '-1' ">
            and tag_course = #{courseValue}
        </if>
        <if test="sceneValue != null and sceneValue != '-1' ">
            and tag_scene = #{sceneValue}
        </if>
        <if test="themeValue != null and themeValue != '-1' ">
            and tag_theme = #{themeValue}
        </if>
        <if test="ageValue != null and ageValue != '-1' ">
            and tag_age = #{ageValue}
        </if>
        <if test="subjectValue != null and subjectValue != '-1' ">
            and tag_subject = #{subjectValue}
        </if>
        <if test="searchValue != null and searchValue != '' ">
            and plan_name like CONCAT(CONCAT('%',#{searchValue}),'%')
        </if>
        order by plan_update_time desc
        limit #{start},#{pageSize}

    </select>

    <select id="searchQueryCount" parameterType="map" resultType="int">
        select count(1) from t_plan where 1=1
        <if test="courseValue != null and courseValue != '-1' ">
            and tag_course = #{courseValue}
        </if>
        <if test="sceneValue != null and sceneValue != '-1' ">
            and tag_scene = #{sceneValue}
        </if>
        <if test="themeValue != null and themeValue != '-1' ">
            and tag_theme = #{themeValue}
        </if>
        <if test="ageValue != null and ageValue != '-1' ">
            and tag_age = #{ageValue}
        </if>
        <if test="subjectValue != null and subjectValue != '-1' ">
            and tag_subject = #{subjectValue}
        </if>
        <if test="searchValue != null and searchValue != '' ">
            and plan_name like CONCAT(CONCAT('%',#{searchValue}),'%')
        </if>

    </select>

    <insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyProperty="id">
            insert into t_plan(plan_name, plan_path,plan_show_path, plan_desc, plan_create_time,plan_update_time,tag_course,tag_scene,tag_theme,tag_age,tag_subject)
            values(#{planName}, #{planPath},#{planShowPath}, #{planDesc}, now(),now(),#{tagCourse},#{tagScene},#{tagTheme},#{tagAge},#{tagSubject})
    </insert>

    <update id="updatePlan" parameterType="Plan">
        update t_plan
        <trim prefix="set" suffixOverrides=",">
            <if test="planName!=null">plan_name=#{planName},</if>
            <if test="planPath!=null">plan_path=#{planPath},</if>
            <if test="planShowPath!=null">plan_show_path=#{planShowPath},</if>
            <if test="planDesc!=null">plan_desc=#{planDesc},</if>
            <if test="tagCourse!=null">tag_course=#{tagCourse},</if>
            <if test="tagScene!=null">tag_scene=#{tagScene},</if>
            <if test="tagTheme!=null">tag_theme=#{tagTheme},</if>
            <if test="tagAge!=null">tag_age=#{tagAge},</if>
            <if test="tagSubject!=null">tag_subject=#{tagSubject},</if>
            plan_update_time=now(),
        </trim>
        where id=#{id}
    </update>

    <delete id="deletePlan" parameterType="Integer">
        delete from t_plan where id = #{id}
    </delete>

</mapper>
