<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wei.eduyang.mapper.PlanMapper">

    <resultMap id="Plan" type="com.wei.eduyang.domain.Plan">
        <result property="id" column="id"/>
        <result property="planName" column="plan_name"/>
        <result property="planPath" column="plan_path"/>
        <result property="planDesc" column="plan_desc"/>
        <result property="planCreateTime" column="plan_create_time"/>
        <result property="planUpdateTime" column="plan_update_time"/>

        <result property="tagCourse" column="tag_course"/>
        <result property="tagScene" column="tag_scene"/>
        <result property="tagTheme" column="tag_theme"/>
        <result property="tagAge" column="tag_age"/>
        <result property="tagSubject" column="tag_subject"/>


    </resultMap>

    <select id="getPlanByName" parameterType="String" resultMap="Plan">
		select * from t_plan where plan_name=#{planName}
	</select>

    <select id="searchQuery" parameterType="map" resultMap="Plan">
        select * from t_plan where 1=1

        <if test="courseValue != null and courseValue != '-1' ">
            and tag_course = #{courseValue}
        </if>
        <if test="sceneValue != null and sceneValue != '-1' ">
            and tag_scene = #{sceneValue}
        </if>
        <if test="themeValue != null and themeValue != '-1' ">
            and tag_theme = #{themeValue}
        </if>
        <if test="ageValue != null and ageValue != '-1' ">
            and tag_age = #{ageValue}
        </if>
        <if test="subjectValue != null and subjectValue != '-1' ">
            and tag_subject = #{subjectValue}
        </if>
        <if test="searchValue != null and searchValue != '' ">
            and plan_name like CONCAT(CONCAT('%',#{searchValue}),'%')
        </if>

    </select>

    <insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyProperty="id">
            insert into t_plan(plan_name, plan_path, plan_desc, plan_create_time,plan_update_time,tag_course,tag_scene,tag_theme,tag_age,tag_subject)
            values(#{planName}, #{planPath}, #{planDesc}, now(),now(),#{tagCourse},#{tagScene},#{tagTheme},#{tagAge},#{tagSubject})
    </insert>

    <update id="updatePlan" parameterType="Plan">
        update t_plan
          set plan_name=#{planName},
              plan_path=#{planPath},
              plan_desc=#{planDesc},
              plan_update_time=now(),
              tag_course=#{tagCourse},
              tag_scene=#{tagScene},
              tag_theme=#{tagTheme},
              tag_age=#{tagAge},
              tag_subject=#{tagSubject}
        where id=#{id}
    </update>

</mapper>
